#receipt{ overflow-y:auto; background:none; }
#receipt .content{ clear:both; float:left; margin:15px; width:300px; }
#receipt .logotop{ clear:both; float:left; width:100%; text-align:center; padding-bottom:15px; background:url('images/bgstrip.gif') repeat-x bottom left; }
#receipt .center-title{ clear:both; float:left; width:100%; text-align:center; margin-top:20px; font-size:30px; line-height:34px; }
#receipt .mid-info{ background:url('images/bgstrip.gif') repeat-x top left; clear:both; float:left; padding-top:20px; width:100%; text-align:center; margin-top:20px; line-height:26px; }